/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Proxima nova';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/proxima.nova/regular-bold.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima nova';
  font-style: normal;
  font-weight: 600;
  src: url("/assets/proxima.nova/regular-semibold.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima nova';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/proxima.nova/regular.otf") format("opentype");
}

@font-face {
  font-family: 'Proxima nova';
  font-style: normal;
  font-weight: 300;
  src: url("/assets/proxima.nova/regular-thin.otf") format("opentype");
}

body {
  background: #e7e7e7 !important;
}

* > truequelibre-item-card:first-child > .card {
  margin-left: 0 !important;
}

* > truequelibre-client-card:first-child > .card {
  margin-left: 0 !important;
}
